<!-- Main -->
<div id="main-wrapper">
  <div id="main" class="container">
    <div class="row">

      <!-- Content -->
      <div id="content" class="12u">

        <!-- Post -->
        <article class="box post">
          <header>
            <h2>Frequently Asked Questions</h2>
          </header>
          <accordion close-others="false">
            <accordion-group is-open="false">
              <accordion-heading>
                What is PLO?
              </accordion-heading>
              Here is some sample content
            </accordion-group>
            <accordion-group is-open="false">
              <accordion-heading>
                What doctor should I visit first if I suspect I have PLO or fractures?
              </accordion-heading>
              Here is some sample content
            </accordion-group>
            <accordion-group is-open="false">
              <accordion-heading>
                What can I expect while I heal?
              </accordion-heading>
              Here is some sample content
            </accordion-group>
            <accordion-group is-open="false">
              <accordion-heading>
                Can I have another child in the future?
              </accordion-heading>
              Here is some sample content
            </accordion-group>
            <accordion-group is-open="false">
              <accordion-heading>
                What can I do to strengthen my bones now?
              </accordion-heading>
              Here is some sample content
            </accordion-group>
            <accordion-group is-open="false">
              <accordion-heading>
                Are there exercises I can do to stretch and strengthen my back that are safe?
              </accordion-heading>
              Here is some sample content
            </accordion-group>
            <accordion-group is-open="false">
              <accordion-heading>
                Does alcohol consumption effect healing?
              </accordion-heading>
              Here is some sample content
            </accordion-group>
            <accordion-group is-open="false">
              <accordion-heading>
                Can I still breastfeed my baby?
              </accordion-heading>
              Here is some sample content
            </accordion-group>
            <accordion-group is-open="false">
              <accordion-heading>
                Can I improve my diet to facilitate healing?
              </accordion-heading>
              Here is some sample content
            </accordion-group>
            <accordion-group is-open="false">
              <accordion-heading>
                Do high heels worsen my condition or cause more pain?
              </accordion-heading>
              Here is some sample content
            </accordion-group>
            <accordion-group is-open="false">
              <accordion-heading>
                Are there treatments for PLO?
              </accordion-heading>
              Here is some sample content
            </accordion-group>
            <accordion-group is-open="false">
              <accordion-heading>
                Is it normal to feel depressed or anxious?
              </accordion-heading>
              Here is some sample content
            </accordion-group>
            <accordion-group is-open="false">
              <accordion-heading>
                What type of specialist should I see?
              </accordion-heading>
              Here is some sample content
            </accordion-group>
            <accordion-group is-open="false">
              <accordion-heading>
                When will the worst pain go away?
              </accordion-heading>
              Here is some sample content
            </accordion-group>
            <accordion-group is-open="false">
              <accordion-heading>
                What treatments are available?
              </accordion-heading>
              Here is some sample content
            </accordion-group>
            <accordion-group is-open="false">
              <accordion-heading>
                Should I see a chiropractor?
              </accordion-heading>
              Here is some sample content
            </accordion-group>
            <accordion-group is-open="false">
              <accordion-heading>
                Will I regain my height / what can I do to improve my posture?
              </accordion-heading>
              Here is some sample content
            </accordion-group>
            <accordion-group is-open="false">
              <accordion-heading>
                Does Prolia appropriate for premenopuasal case?
              </accordion-heading>
              Here is some sample content
            </accordion-group>
            <accordion-group is-open="false">
              <accordion-heading>
                Will I be able to hold my baby again?
              </accordion-heading>
              Here is some sample content
            </accordion-group>
            <accordion-group is-open="false">
              <accordion-heading>
                When will I be able to take care of my baby again on my own?
              </accordion-heading>
              Here is some sample content
            </accordion-group>
            <accordion-group is-open="false">
              <accordion-heading>
                If I get pregnant again, what testing should I expect this time around?
              </accordion-heading>
              Here is some sample content
            </accordion-group>
          </accordion>
        </article>
      </div>
    </div>
  </div>
</div>
