<style type="text/css">
</style>

<!-- Main -->
<div id="main-wrapper" ng-init="all()">
  <div id="main" class="container">
    <div class="row">

      <!-- Content -->
      <div id="content" class="12u">

        <!-- Post -->
        <article class="box post">
          <header>
            <h2>Find a Doctor</h2>
          </header>
        </article>
        <google-map center="map.center" zoom="map.zoom" draggable="true">
          <marker ng-repeat="doctor in doctors" idKey="doctor.id" coords="{ latitude: doctor.latitude, longitude: doctor.longitude }">
            <window>
              <div class="vcard">
                <div class="row">
                  <div class="2u">
                    <img src="images/doctor-symbol.jpg" />
                  </div>
                  <div class="10u">
                    <p class="fn">{{ doctor.name }}</p>
                    <p class="title">{{ doctor.title }}</p>
                    <div class="street-address">{{ doctor.street }}</div>
                    <span class="city">{{ doctor.city }}</span>
                    <span class="region">{{ doctor.region }}</span>
                    <span class="postal-code">{{ doctor.postal_code }}</span>
                  </div>
                </div>
              </div>
            </window>
          </marker>
        </google-map>

      </div>
    </div>
  </div>
</div>
