<!-- Main -->
<div id="main-wrapper">
  <div id="main" class="container">
    <div class="row">

      <!-- Content -->
      <div id="content" class="12u">

        <!-- Post -->
        <article class="box post">
          <header>
            <h2>Who we are</h2>
          </header>
          <p>
            Pregnancy and Lactation associated Osteoporosis (PLO) as described by the National Osteoporosis Society in the UK is, ‘a very unusual situation when bones break suddenly or severe pain occurs during or soon after pregnancy in otherwise apparently healthy women.’ In their leaflet describing this condition, they go on to explain that,’ Osteoporosis associated with pregnancy is a rare condition when bones break (fracture) easily, usually in the spine, or occasionally the hip, around the time a woman is giving birth, causing pain and disability.’
          </p>
          <p>
            This website has been created by a group of women from all over the world who suffer from this condition.  We have found that because this condition is so rare, there are not many resources available to support women who are suffering. We hope that this website can address this need. A common experience for the women in our group was intense back pain shortly after or just before giving birth to our babies. The pain was often so intense that it affected our ability to lift our babies and generally care for our babies in the way that is expected of new mothers.
          </p>
          <p>
            Please take some time to explore our website and what it has to offer including testimonials from women who have experienced PLO, tips for living with PLO, Frequently Asked Questions and resources to build your understanding of this condition.
          </p>
          <p>
            You can access the full information leaflet quoted above as well as many other useful resources by clicking on our resource page.
          </p>
        </article>
      </div>
    </div>
  </div>
</div>

<!-- Banner -->
<div id="banner-wrapper">
  <div class="inner">
    <section id="banner" class="container">
      <p>You never know how strong you are until being strong is your only choice.</p>
    </section>
  </div>
</div>


<!-- Features -->
<div id="features-wrapper">
  <section id="features" class="container">
    <header>
      <h2>It is estimated that <strong>1 in a 1000</strong> women are suffering from this disease.</h2>
    </header>
    <div class="row">
      <div class="4u">

        <!-- Feature -->
        <section>
          <a href="#" class="image featured"><img src="images/spine.jpg" alt="" /></a>
          <header>
            <h3>Learn More About PLO</h3>
          </header>
          <p>
            PLO is a rare disease.  Little is currently known about this
            condition, which can be scary if you are one of the <strong>1
              in 1000 women</strong> diagnosed with this yearly.  <a
                                                                     href="#">Read more about this heartbreaking disease</a> and
            steps you can take to help with recovery.
          </p>
        </section>

      </div>
      <div class="4u">

        <!-- Feature -->
        <section>
          <a href="#" class="image featured"><img src="images/doctors.jpg" alt="" /></a>
          <header>
            <h3>Find Doctors in Your Area</h3>
          </header>
          <p>
            Unfortunately, most doctors have <strong>no
              experience</strong> with PLO.  In fact, in our experience a
            lot of physicians have never even heard of the disease.  <a
                                                                        href="#">Check out our list of recommended physicans</a>
            who have experience with PLO.
          </p>
        </section>

      </div>
      <div class="4u">

        <!-- Feature -->
        <section>
          <a href="#" class="image featured"><img src="images/books.jpg" alt="" /></a>
          <header>
            <h3>Consult the Resource Library</h3>
          </header>
          <p>
            Interested in reading more about the latest research?  Read
            about <strong>real experiences</strong> and hear from women who live with this
            disease and how they are coping.  Our <a href="#">Resource
              Center</a> provides links to dozens of additional sources
            of information.
          </p>
        </section>

      </div>
    </div>
    <!--<ul class="actions">-->
    <!--<li><a href="#" class="button icon fa-file">Tell Me More</a></li>-->
    <!--</ul>-->
  </section>
</div>
