<!-- Main -->
<div id="main-wrapper">
  <div id="main" class="container">
    <div class="row">

      <!-- Content -->
      <div id="content" class="12u">

        <!-- Post -->
        <article class="box post">
          <header>
            <h2>Providing Emotional Support</h2>
          </header>
          <p>
            We have also established a Facebook Support Page for women suffering from this condition. The focus of our community is to provide strength, comfort and encouragement to other women who are facing similar challenges. The Facebook is a ‘secret’ page to protect our privacy. Only members can see the page. If you are suffering from PLO or think you might be, then please fill out the contact form to join our supportive community. Alternatively, if you have any other questions related to PLO that are not addressed on our website, please also make contact with us. We will endeavour to answer your questions as soon as possible. Please keep in mind that we are from all over the world so there may be a time difference.
          </p>
        </article>
      </div>
    </div>
  </div>
</div>

<!-- Features -->
<div id="features-wrapper">
  <section id="features" class="container">
    <div class="row">
      <div class="4u">
        <a href="http://www.nos.org.uk/NetCommunity/Document.doc?id=396">Article Title</a>
        <p style="text-align: left;">Cras a nisi et turpis consectetur rutrum nec a metus. Nulla facilisi.</p>

        <a href="http://www.osteoporosis.org.au/sites/default/files/files/osteoporosispregnancy.pdf">Article Title</a>
        <p style="text-align: left;">Cras a nisi et turpis consectetur rutrum nec a metus. Nulla facilisi.</p>

        <a href="http://nof.org/">Article Title</a>
        <p style="text-align: left;">Cras a nisi et turpis consectetur rutrum nec a metus. Nulla facilisi.</p>

        <a href="http://www.iofbonehealth.org/">Article Title</a>
        <p style="text-align: left;">Cras a nisi et turpis consectetur rutrum nec a metus. Nulla facilisi.</p>
      </div>
      <div class="4u">
        <a href="http://www.healthcentral.com/osteoporosis/c/76444/170808/pregnancy-osteoporosis">Article Title</a>
        <p style="text-align: left;">Cras a nisi et turpis consectetur rutrum nec a metus. Nulla facilisi.</p>

        <a href="http://mobile.abc.net.au/news/2014-07-11/call-for-more-research-into-rare-condition-linked/5591538">Article Title</a>
        <p style="text-align: left;">Cras a nisi et turpis consectetur rutrum nec a metus. Nulla facilisi.</p>

        <a href="http://www.nos.org.uk/page.aspx?pid=1287">Article Title</a>
        <p style="text-align: left;">Cras a nisi et turpis consectetur rutrum nec a metus. Nulla facilisi.</p>

        <a href="http://www.betterbones.com/bonehealth/medicaltestingforosteoporosis.aspx">Article Title</a>
        <p style="text-align: left;">Cras a nisi et turpis consectetur rutrum nec a metus. Nulla facilisi.</p>
      </div>
      <div class="4u">
        <a href="http://blog.melioguide.com/osteoporosis-prevention/exercise-and-osteoporosis">Article Title</a>
        <p style="text-align: left;">Cras a nisi et turpis consectetur rutrum nec a metus. Nulla facilisi.</p>

        <a href="http://www.melioguide.com/">Article Title</a>
        <p style="text-align: left;">Cras a nisi et turpis consectetur rutrum nec a metus. Nulla facilisi.</p>

        <a href="http://www.strongwomen.com/book/strong-women-strong-bones/">Article Title</a>
        <p style="text-align: left;">Cras a nisi et turpis consectetur rutrum nec a metus. Nulla facilisi.</p>

        <a href="http://www.niams.nih.gov/Health_Info/Bone/Osteoporosis/Conditions_Behaviors/anorexia_nervosa.asp">Article Title</a>
        <p style="text-align: left;">Cras a nisi et turpis consectetur rutrum nec a metus. Nulla facilisi.</p>
      </div>
    </div>
    <!--<ul class="actions">-->
    <!--<li><a href="#" class="button icon fa-file">Tell Me More</a></li>-->
    <!--</ul>-->
  </section>
</div>
