<!-- Main -->
<div id="main-wrapper">
  <div id="main" class="container">
    <div class="row">

      <!-- Content -->
      <div id="content" class="12u">

        <!-- Post -->
        <article class="box post">
          <header>
            <h2>Providing Emotional Support</h2>
          </header>
          <p>
            We have also established a Facebook Support Page for women suffering from this condition. The focus of our community is to provide strength, comfort and encouragement to other women who are facing similar challenges. The Facebook is a ‘secret’ page to protect our privacy. Only members can see the page. If you are suffering from PLO or think you might be, then please fill out the contact form to join our supportive community. Alternatively, if you have any other questions related to PLO that are not addressed on our website, please also make contact with us. We will endeavour to answer your questions as soon as possible. Please keep in mind that we are from all over the world so there may be a time difference.
          </p>
        </article>
      </div>
    </div>

    <div class="row">
      <div class="4u">
        <a href="http://www.nos.org.uk/NetCommunity/Document.doc?id=396">Pregnancy and Osteoporosis</a>
        <p style="text-align: left;">
          The United Kingdom's National Osteoporosis Society's publication on
          PLO.  Includes 	information on coping with pain and broking bones
          during and after pregnancy, case studies, 	what a PLO diagnosis
          means, exercises, treatments, and long term affects.
        </p>

        <a href="http://www.osteoporosis.org.au/sites/default/files/files/osteoporosispregnancy.pdf">Pregnancy and Osteoporosis</a>
        <p style="text-align: left;">
          Osteoporosis Australia's publication on PLO.  Includes information on
          what PLO is, diagnosis, causes, treatments, and future effects.
        </p>

        <a href="http://nof.org/">National Osteoporosis Foundation</a>
        <p style="text-align: left;">
          USA's website and Foundation for general Osteoporosis information.
        </p>

        <a href="http://www.iofbonehealth.org/">International Osteoporosis Foundation</a>
        <p style="text-align: left;">
          Website for worldwide information on Osteoporosis.
        </p>
      </div>
      <div class="4u">
        <a href="http://www.healthcentral.com/osteoporosis/c/76444/170808/pregnancy-osteoporosis">Health Central.com "Interview with Virginnia on Pregnancy and Lactation associated Osteoporosis"</a>
        <p style="text-align: left;">
          <em>Virginnia to provide</em>
        </p>

        <a href="http://mobile.abc.net.au/news/2014-07-11/call-for-more-research-into-rare-condition-linked/5591538">T.V. Story on Rare Condition Linked to Pregnancy</a>
        <p style="text-align: left;">
          <em>Virginnia to provide</em>
        </p>

        <a href="http://www.nos.org.uk/page.aspx?pid=1287">Osteoporosis Recording Sessions</a>
        <p style="text-align: left;">
          The National Osteoporiss Society with The Royal Society of Medicine's
          session recordings of interviews and discussions with PLO Patients
          and Doctors practicing in this field.
        </p>

        <a href="http://www.betterbones.com/bonehealth/medicaltestingforosteoporosis.aspx">The "Better Bones" Website</a>
        <p style="text-align: left;">
          A Doctor and Nutritionist specializing in bone health, Dr. Susan
          Brown provides articles, information, and recommended treatment
          programs and exercises for Osteoporosis.
        </p>
      </div>
      <div class="4u">
        <a href="http://blog.melioguide.com/osteoporosis-prevention/exercise-and-osteoporosis">The Melio Guide Blog</a>
        <p style="text-align: left;">
          Margaret Martin, a Physiotherapist, has developed a blog with
          information on her books, publications, and exercise programs for
          Osteoporosis.
        </p>

        <a href="http://www.melioguide.com/">The Melio Guide Website</a>
        <p style="text-align: left;">
          Margaret Martin, a Physiotherapist, has developed this website
          providing information on Programs to Treat and Prevent Osteoporosis
        </p>

        <a href="http://www.strongwomen.com/book/strong-women-strong-bones/">Strong Women Strong Bones website</a>
        <p style="text-align: left;">
          A website for women who are or strive to be fit, strong, and healthy.
          Includes information on several publications including Strong Women'
          Strong Bones , a book written by one of the founders for preventing,
          treating, and beating Osteoporosis
        </p>

        <a href="http://www.niams.nih.gov/Health_Info/Bone/Osteoporosis/Conditions_Behaviors/anorexia_nervosa.asp">NIH Osteoporosis and Related Bone Diseases National Resource Center - Osteoporosis</a>
        <p style="text-align: left;">
          A great website with general information on Osteoporosis and other
          causes and conditions.  It also has a link to one of the few articles
          on-line on the affects of Pregnancy and Lactation on bones.
        </p>
      </div>
    </div>
  </div>
</div>
