<!-- Main -->
<div id="main-wrapper" ng-init="all()">
  <div id="main" class="container">
    <div class="row">

      <!-- Content -->
      <div id="content" class="12u">

        <!-- Post -->
        <article class="box post">
          <header>
            <h2>Hear What Others are Going Through</h2>
          </header>
          <p>
            Phasellus lobortis diam magna, at posuere nulla pellentesque vitae. Nam id sodales felis, ut pellentesque turpis. Ut porta molestie euismod. Cras tempor interdum eros id malesuada. Integer sagittis egestas augue vitae eleifend. Donec eu convallis ligula, ut vehicula leo. Fusce imperdiet risus at metus bibendum faucibus. Integer suscipit, nulla ut maximus aliquet, ante elit pretium ligula, in bibendum ligula sapien eget elit.
          </p>
        </article>
      </div>
    </div>
    <div class="row">
      <div id="photos" class="12u">
        <div class="row">
          <div class="2u" ng-repeat="testimonial in testimonials">
            <a ng-href="#/testimonials/{{ testimonial.id }}" class="image profile-images"><img src="{{ testimonial.photo_path }}" alt="{{ testimonial.first_name }}" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
