<!-- Main -->
<div id="main-wrapper">
  <div id="main" class="container">
    <div class="row">

      <!-- Content -->
      <div id="content" class="12u">

        <!-- Post -->
        <article class="box post">
          <header>
            <h2>Lucy Marciani</h2>
          </header>
          <div class="row">
            <div class="2u">
              <img src="images/profiles/lucy-marciani.jpg" class="profile-images active" alt="" />
            </div>
            <div class="10u">
              <p>
                I was 9 months pregnant at my baby shower when I lifted
                multiple heavy gifts by myself in very high-heeled shoes. I
                woke up the next day with a lot of pain in my low back. It
                was sharp pain and it went all the way down my leg and I
                could barely walk. My obgyn said I probably just had pain in
                my back, which is typical in pregnancy and told me to rest a
                little and I would feel better. The pain never subsided
                completely but became bearable and I delivered a healthy baby
                boy in November 2011.
              </p>
              <p>The next few months the pain gradually worsened with a few
                memorable events happening where I felt a popping like
                sensation. The first one was during a yoga class I attended
                after my obgyn gave me clearance to begin exercising again. I
                went into shoulder stand pose and put my feet behind my
                head. It felt like every other inch of my spine was
                popping. I thought I was just pulling muscles, little did I
                know I was breaking bones. The second instance I can remember
                was lifting the heavy jogging stroller out of the car by
                myself in which I again felt this popping sensation.
              </p>
              <p>
                The pain got worse everyday. The simplest tasks like leaning
                over the crib to pick up my baby, standing for more than 5
                minutes at a time, laying down flat to sleep, and breast
                feeding, were utterly unbearable for me. I went back to my
                obgyn who said my pain was still probably muscular from the
                pregnancy and I needed to take ibprophen and go to physical
                therapy. My gut didn't trust that opinion so I found an
                orthopedic doctor who basically told me the same thing. I
                begged for an MRI. He refused without doing physical therapy
                first.
              </p>
              <p>
                I went to two weeks of physical therapy, which was extremely
                painful. I also saw a chiropractor once, which was also very
                painful. I was taking ibprophen around the clock, even in the
                middle of the night. And I was still in immense pain. When my
                son was 3 1/2 months old, I couldn't take it anymore and I
                asked my husband to take me to the emergency room. The
                emergency room doctor gave me pain medication, which finally
                gave me some relief, and she ordered a CAT scan but
                reluctantly, saying she agreed that this was likely muscular
                pain from the pregnancy.
              </p>
              <p>
                When the CAT scan was finished and she came in with the
                results, her face was white and she looked stunned. She asked
                me if I had fallen down stairs or been in a car accident. I
                couldn’t even process these questions. She said I had at
                least six fractured vertebra and I needed an MRI. They
                admitted me in the hospital and I had the MRI completed and
                was visited by a Neurosurgeon. The end result was eight
                compression fractures in my spine. I was given strict
                instructions to stop breast-feeding immediately and to not
                lift my son or anything heavy at all. The doctors weren’t
                sure why I would have compression fractures but they ordered
                a bone density scan and asked me to go to an endocrinologist
                to see if I had osteoporosis. My mother flew to stay with us
                for several months, which I am so grateful for. My husband
                and my mother took care of my son and I at the most fragile
                time in our lives.
              </p>
              <p>
                I then began the journey of healing, which has taken a very
                long time. I was on prescription pain medication for about 9
                months straight and I still take ibprophen and muscle
                relaxers occasionally. I began physical therapy two days a
                week which ended up being very helpful in teaching me how to
                care for my son and lift and do things properly to avoid
                hurting myself more. But it all took a lot of time. I wasn’t
                able to care for my son full time on my own until he was
                almost two years old. And now I still have a good deal of
                pain daily that I struggle to keep in check by monitoring all
                I do physically constantly.
              </p>
              <p>
                It turns out that I do have osteoporosis, my bone density in
                my spine was -3.9 and my doctor ordered me Forteo, a
                medication injection done daily to help build bone mass
                quickly. I am ending my two years on Forteo and my bone
                density in my spine is now -2.5, which is still osteoporosis
                but much better. I also had kyphoplasty surgery on two of my
                worst fractured vertebra and it was successful, though, it
                did not help me in pain management. It is likely I have
                Osteoporosis because I have Celiac Disease and I was not
                diagnosed with Celiac until I was 27 years old. Celiac
                Disease is a disorder where mal-absorption happens in the
                small intestine and I was probably not absorbing proper
                amounts of calcium and vitamin D during the many years I was
                sick from Celiac and undiagnosed. Pregnancy and
                breast-feeding could have made the bone density worse and led
                to the fractures. I don’t believe the medical community
                always knows what to look for in these rare diseases and
                diagnoses.
              </p>
              <p>
                I think it’s important for us to be advocates for ourselves
                and continue to persist and get a second and a third opinion
                if we feel something just isn’t right. My life has completely
                changed in all aspects due to this injury and diagnosis, but
                I am fighting hard each day to keep things as normal as
                possible for my family and I.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
