<!-- Main -->
<div id="main-wrapper">
  <div id="main" class="container">
    <div class="row">

      <!-- Content -->
      <div id="content" class="12u">

        <!-- Post -->
        <article class="box post">
          <header>
            <h2>Marlene Bloemheuvel</h2>
          </header>
          <div class="row">
            <div class="2u">
              <img src="images/profiles/1.jpg" class="profile-images active" alt="" />
            </div>
            <div class="10u">
          <p>
            I am Marlene and  I am the mother of a lovely daughter (born
            in December 2012 when I was 37).
          </p>
          <p>
            I cannot tell you how happy I am this site has been made
            because I have felt so supported by having contact with women
            who knew what I was talking about. Please let me tell you my
            story:
          </p>
          <p>
            Before my husband and I decided to try and have a baby I
            consulted my specialist to ask if a pregnancy would not be
            detrimental to my bones. After all, I knew I had
            osteoporosis; my father has it too and I have got coeliac
            disease as well, which can contribute to bone loss if
            untreated. The specialists said that the high level of
            pregnancy hormones would have a beneficial effect on my
            bones, but warned against breastfeeding. My gynaecologist and
            I agreed I would only breastfeed for three months. My
            pregnancy was pretty uneventful: everything went fine, apart
            from some problems with my pelvis and severe back pain the
            last few weeks of my pregnancy, which immediately disappeared
            after I had given birth to our daughter.
          </p>
          <p>
            However, a fortnight after the delivery I had a series of
            five major compression fractures, one every two weeks. When
            the first one occurred I immediately knew something was
            terribly wrong. I picked up a breast pump and that small
            movement caused a sharp pain in a vertebra that was really
            uncomfortable. The hours after that the pain got worse and
            worse: it felt like an avalanche of pain that could not be
            stopped. It was so painful that I couldn’t even breathe or
            talk properly. My natural delivery had been quite a heavy
            one, but that was nothing compared to the pain of a
            compression fracture.
          </p>
          <p>
            The GP was sceptical on the phone when I made an appointment
            telling him I thought I had spontaneously fractured a
            vertebra and urged me to come to his surgery. That trip was
            terribly painful. He referred me to the hospital  where they
            confirmed the diagnosis.  I refused treatment (painkillers
            and bisphosphonates) at the hospital because  I didn’t want
            to leave our daughter and I did not want to give up
            breastfeeding. I did get a brace but unfortunately that did
            not prevent me from getting further fractures. A couple of
            weeks later, when I had collapsed on the floor and was taken
            to hospital by an ambulance, I was put in a plaster cast
            (from neck to tailbone) to prevent further fracturing, for
            pain relief and to let the fractures heal. After four
            fractures I had to stop breastfeeding, which I am still sad
            about, but in hindsight I think that is what stopped the
            fractures: shortly after weaning I only had one further major
            fracture. I opted for treatment (first bisphosphonates by IV
            and then Forteo), incompatible with breastfeeding.
          </p>
          <p>
            Getting up in the morning was a drama every day: it literally
            took me hours to get out of bed. Inch by inch I lifted myself
            up out of bed. I was terrified of going to bed at night,
            knowing it would be so difficult to get up again. I could
            hardly do anything unassisted, not even raise my hands, let
            alone lift my own daughter. My family put her on a pillow on
            the dinner table so I could feed her. Two weeks after each
            fracture it was getting a bit easier to get up. It took me
            weeks after the last fracture before I could wash my own
            hair, holding myself with one hand. It was so painful and I,
            quite rightly so, felt so fragile. Some physiotherapy and
            lots of exercises at home helped me regaining my muscle
            strength after weaning the plaster cast. I also went baby
            swimming with my daughter: in the water I COULD lift her,
            which was such a wonderful feeling.
          </p>
          <p>
            This disease changed my life: what I thought would be the
            happiest time of my life had become a nightmare. I was not
            able to lift my own daughter and could not look after her
            without the help of my husband and family for six months. My
            wonderfully supportive family made a schedule so I would not
            be alone with my baby, not being able to lift her. Not only
            physically, but also emotionally this was a challenging time
            for me. I always like to help others wherever I can, but
            receiving help myself and not being able to look after our
            daughter myself was hard to accept for me. The pain never
            went away completely , but I am able to lift my daughter a
            bit now and I am feeling much stronger. I am so happy that I
            am able to look after our daughter myself now and I enjoy
            every moment with her. Despite my physical limitations I can
            play with her, sit on the floor with her when she plays and
            do many other things with her I never thought I would be able
            to do shortly after the fractures.
          </p>
          <p>
            I hope this website will help women who go through the same
            ordeal and will inform others about this disease. If you have
            got any questions or need support, do not hesitate to contact
            us.
          </p>
          </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
