<!-- Main -->
<div id="main-wrapper">
  <div id="main" class="container">
    <div class="row">

      <!-- Content -->
      <div id="content" class="12u">

        <!-- Post -->
        <article class="box post">
          <header>
            <h2>Melissa Richardson</h2>
          </header>
          <div class="row">
            <div class="2u">
              <img src="images/profiles/melissa-richardson.jpg" class="profile-images active" alt="" />
            </div>
            <div class="10u">
              <p>
                Six months in to my first pregnancy and I felt a sudden pain
                in my groin as I stepped off the curb on a daily walk. The
                pain worsened and eventually I could not bear my own body
                weight. No one could explain what was happening, so I was in
                pain and frightened as labour approached. I gave birth
                naturally to a beautiful boy, but was in so much pain I could
                hardly bear to look at him. It was only after I left the
                hospital and had an x ray that it was discovered that I had
                osteoporosis and multiple fractures in the top of my left
                femur. This was 25 years ago.
              </p>
              <p>
                I found a doctor who was interested enough to find out more and the diagnosis was transient regional osteoporosis of pregnancy. Three months later I was able to walk again and within 12 months my bone density had returned to normal and I was completely pain free. Five years later I had a second child. My bone density was monitored, and when the levels reduced, I gave myself daily injections of calcitonin until the baby was born. I had a very uneventful labour and no fractures!
                Alex (25) and Louis (20) light up my life. I would do it all
                again if I had to.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
