<!-- Main -->
<div id="main-wrapper">
  <div id="main" class="container">
    <div class="row">

      <!-- Content -->
      <div id="content" class="12u">

        <!-- Post -->
        <article class="box post">
          <header>
            <h2>Monika Whittenburg</h2>
          </header>
          <div class="row">
            <div class="2u">
              <img src="images/profiles/monika-whittenburg.jpg" class="profile-images active" alt="" />
            </div>
            <div class="10u">
              <p>
                When my daughter was 12 weeks old, September 9th, 2013, I
                began to experience severe muscle spasms in my back after
                lifting my laptop.  I was unable to lift or care for my baby
                and went to see my Doctor thinking it was a pulled back
                muscle.  He examined me and also agreed that's what it was.
                He sent me home with anti-inflammatories and muscle relaxers
                and I began seeing a Physical Therapist and putting ice on my
                back throughout the day.  Things slowly improved and after a
                couple of weeks I was able to care for my baby again.  Then I
                lifted my baby and started at square one again with spasms
                and lack of strength.
              </p>
              <p>
                I went back to my Physical Therapist and two weeks of that
                and I was feeling better and taking care of baby again.
                Then, one morning, I got out of bed and walked across the
                kitchen and almost fell to the floor in pain.  This time the
                pain and muscle spasm wrapped around my entire chest.  My
                husband was out of town and I was on my own with Zoë.  I
                didn't know what to do.   The pain was so awful and I was in
                tears.  By some miracle I was able to get my baby up, feed
                her, and drop her off at daycare.
              </p>
              <p>
                I went to see my Physical Therapist.  She treated me with
                ultrasound, tens therapy, and ice packs.  Mind you that the
                muscle relaxers I was taking would help with the spasms but I
                still had a lot of pain, that the anti-inflammatory medicine
                didn't even begin to touch, so I didn't even take those
                because I was breastfeeding.  I began to do my own research
                and started taking Magnesium, Calcium, and Vitamin D to help
                hopefully with whatever was wrong with my muscles and back.
                This time, I recovered after a few days, then would have
                spasms, then would be fine, then have spasms again.  Finally,
                at the end of October my Physical Therapist said this was not
                normal and something else was wrong.  X-rays showed nothing.
              </p>
              <p>
                The following week, November 9th, I had an appointment with
                an Orthopedist.  By this point I was in constant excruciating
                pain and barely holding it together.  I broke down in tears
                in his office.  Also, I had made the decision to stop breast
                feeding my almost 5 month old baby.  I didn't know what was
                wrong with me, but whatever it was, I was confident that my
                body needed the nutrients I was giving my baby if I was ever
                going to get better.  This did not help my emotional state,
                as you can imagine, since breastfeeding was truly the last
                thing I was able to do for my baby, since I was unable to
                lift her, change her diaper etc.   I could still breastfeed
                her because my husband would bring her to me.  I was working
                full time and could pump the rest of the day at work.
              </p>
              <p>
                My Orthopedist called for an MRI 2 days later. He also had
                blood work done thinking I had post-partum depression, which
                I did not have, just extreme pain!  Thinking that I would
                feel better in 2 days, when I was to have the MRI, my husband
                took his trip out of town and I got help with getting the
                baby to daycare and putting her to bed at night but was not
                prepared for the pain that laying on the MRI table for 30
                minutes would cause. Thankfully they read the results right
                away and I had 5 compression fractures in my Thoracic Spine
                Vertebras T8-T12!!!  The worst were T8 and T12 at almost 25%
                compressed.  I was relieved to have answers, but how did this
                happen!!!
              </p>
              <p>
                I was given a brace to wear and a prescription for
                Oxycodone. I was told not to lift anything, and at this point
                couldn't even physically lift a bottle of water even if I
                wanted to, due to pain.  My Orthopedist also ordered a bone
                density scan (DEXA).
              </p>
              <p>
                I went home and started my research.  Through my research
                into compression fractures and bone density scans I learned
                of a condition in which Pregnancy and Lactating result in
                Osteoporosis. The condition is quite rare so how lucky for
                me!
              </p>
              <p>
                My DEXA scan came back with a T-Score of -2.8 in my Lumbar
                Spine and a -1.2 in my hips, the Z-score showed -2.8 in my
                lumbar spine and -.9 in my hips.  I was sent to see an
                Endocrinologist to receive additional testing. The results
                all came back normal.
              </p>
              <p>
                By the beginning of January I was off all of my pain killers
                and muscle relaxers.  I also began Physical Therapy, which
                helped immensely with the pain.
              </p>
              <p>
                In early April I met with a Rheumatologist and Osteoporosis
                Specialist recommended by the National Osteoporosis
                Foundation.  Finally, someone who had treated other women
                with my condition!  He did a lot of different testing than
                the others to check for bone breakdown in my blood and also
                hormone levels to make sure my "breast feeding hormone" was
                not still elevated.  Everything came back fine.  Our
                conclusion was most likely I was vitamin D deficient and
                possibly started out with slightly low bone density going
                into pregnancy.
              </p>
              <p>
                My baby is 14 months old now and I can lift her and take care
                of her all on my own now.  I get stronger every day!  My back
                still hurts some days but not even close to how it used to
                hurt.  I have found that the key to my pain relief is staying
                active.  I lift weights at least once a week, do restorative
                yoga once a week, and am training to do a 5k run in
                mid-September, a year after my initial fractures!
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
